body {font-family: "Lato", sans-serif;
      width: 100;
     background-color:#b6ccef;
      margin: 0;
      }

.mySlides {display: none;
           
           margin:0; 

    }

.bg-color{
    background-color:#666699;
}
 #666699
header{
    background-color:#666699;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #666699;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 12px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color:red;
    color: white;
     cursor: pointer;
     box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.active {
    background-color: #4CAF50;
}
li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 12px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: red;
     cursor: pointer;
     box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
	background-color: #f1f1f1;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
	 
}

.dropdown:hover .dropdown-content {
    display: block;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
     
}
.heading{
    margin: 10px 0px;
    color: white;
}
h1{
	width: 100%;
    height: 150px;
	text-align: center;
    color:#800000;
	background-image: url(image/sideveiw.jpg);
	margin: 0px;
    box-shadow: 5px 3px 3px black;
}
h1:hover{
	color:black;
	 cursor: pointer;
     box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
hr{
	margin: 0px;
}
.class{
	max-width: 80%;
	
}
.main-image{
    height: 500px;
}

 img{
	margin: 0px;
	width:125%;
    height: 500px;
    opacity:1;

}
.img{
	max-width: 80%;
}

.span{
    font-family: serif;
    font-size: 20px;
    color:red;
}
footer{
	margin: 0px;
    height: 325px;
    background-color: #000066;
    
}


.li{
list-style-type: none;
}

.bottom{
    height: 200px;
    background-color: #001a4d;
}

.copyright{
    padding: 50px 0px 0px 0px;
    margin: auto;
    text-align: center;
    font-size: 25px;
    font-weight: 400;
    line-height: 1.6em;
    color: white;
}
.endsection{
    padding-top: 20px;
     width: 70%;
    margin: auto;
    text-align: center;
    font-weight: 400;
    line-height: .9em;
    color: white;
}
marquee{
    font-size: 20px;
    color: white;
}







